### ETL movies ###

Importamos las librerias necesarias y cargamos el archivo, hacemos una copia para evitar inconsistencias de datos.

In [1]:
import pandas as pd
import unicodedata
import ast

# Carga y copia del dataset
df = pd.read_csv('movies_dataset.csv').copy()

C:\Users\Alberto\AppData\Local\Temp\ipykernel_5292\193078804.py:6: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('movies_dataset.csv').copy()

Primer acercamiento a datos

In [2]:
# Verificamos la estructura del DataFrame
print(df.head())

   adult                              belongs_to_collection    budget  \
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
1  False                                                NaN  65000000
2  False  {'id': 119050, 'name': 'Grumpy Old Men Collect...         0
3  False                                                NaN  16000000
4  False  {'id': 96871, 'name': 'Father of the Bride Col...         0

                                              genres  \
0  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                     [{'id': 35, 'name': 'Comedy'}]

                               homepage     id    imdb_id original_language  \
0  http://toystory.disney.com/toy-story    862  tt0114709                en
1                                   NaN   8844  tt0113497                en
2                                   NaN  15602  tt0113228                en
3                                   NaN  31357  tt0114885                en
4                                   NaN  11862  tt0113041                en

                original_title  \
0                    Toy Story
1                      Jumanji
2             Grumpier Old Men
3            Waiting to Exhale
4  Father of the Bride Part II

                                            overview  ... release_date  \
0  Led by Woody, Andy's toys live happily in his ...  ...   1995-10-30
1  When siblings Judy and Peter discover an encha...  ...   1995-12-15
2  A family wedding reignites the ancient feud be...  ...   1995-12-22
3  Cheated on, mistreated and stepped on, the wom...  ...   1995-12-22
4  Just when George Banks has recovered from his ...  ...   1995-02-10

       revenue runtime                                   spoken_languages  \
0  373554033.0    81.0           [{'iso_639_1': 'en', 'name': 'English'}]
1  262797249.0   104.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
2          0.0   101.0           [{'iso_639_1': 'en', 'name': 'English'}]
3   81452156.0   127.0           [{'iso_639_1': 'en', 'name': 'English'}]
4   76578911.0   106.0           [{'iso_639_1': 'en', 'name': 'English'}]

     status                                            tagline  \
0  Released                                                NaN
1  Released          Roll the dice and unleash the excitement!
2  Released  Still Yelling. Still Fighting. Still Ready for...
3  Released  Friends are the people who let you be yourself...
4  Released  Just When His World Is Back To Normal... He's ...

                         title  video vote_average vote_count
0                    Toy Story  False          7.7     5415.0
1                      Jumanji  False          6.9     2413.0
2             Grumpier Old Men  False          6.5       92.0
3            Waiting to Exhale  False          6.1       34.0
4  Father of the Bride Part II  False          5.7      173.0

[5 rows x 24 columns]

Inspeccionamos las columnas para ver que tipo de datos contienen

In [3]:
# Visualizamos la información general del DataFrame (incluye tipos de datos y valores no nulos)
print("Información general del DataFrame:")
print(df.info())

# Verificamos la cantidad de valores nulos en cada columna
print("\nCantidad de valores nulos por columna:")
print(df.isnull().sum())

# Muestra los tipos de datos de todas las columnas
print("\nTipos de datos de cada columna:")
print(df.dtypes)

# Verificamos la cantidad de tipos de datos únicos dentro de cada columna
tipos_por_columna = df.applymap(type).nunique()
print("\nCantidad de tipos de datos únicos por columna:")
print(tipos_por_columna)

Información general del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB
None

Cantidad de valores nulos por columna:
adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

Tipos de datos de cada columna:
adult                     object
belongs_to_collection     object
budget                    object
genres                    object
homepage                  object
id                        object
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity                object
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
video                     object
vote_average             float64
vote_count               float64
dtype: object

Cantidad de tipos de datos únicos por columna:
adult                    1
belongs_to_collection    2
budget                   1
genres                   1
homepage                 2
id                       1
imdb_id                  2
original_language        2
original_title           1
overview                 2
popularity               2
poster_path              2
production_companies     2
production_countries     2
release_date             2
revenue                  1
runtime                  1
spoken_languages         2
status                   2
tagline                  2
title                    2
video                    2
vote_average             1
vote_count               1
dtype: int64

C:\Users\Alberto\AppData\Local\Temp\ipykernel_5292\752270181.py:14: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  tipos_por_columna = df.applymap(type).nunique()

Hacemos configuraciones basicas para el tratamiento inicial del dataset

In [4]:
df.drop_duplicates(subset='id', inplace=True) #Borramos duplicados 
df['belongs_to_collection'] = df['belongs_to_collection'].apply(lambda x: ast.literal_eval(x) if pd.notnull(x) else None)
df['collection_name'] = df['belongs_to_collection'].apply(lambda x: x.get('name') if isinstance(x, dict) else 'sin colección')
df.drop(columns=['belongs_to_collection'], inplace=True)

Desanidamos las columnas correspondientes

In [5]:
# Función para extraer los datos necesarios
def extract_names(column):
    return column.apply(
        lambda x: [d['name'] for d in ast.literal_eval(x)] 
        if isinstance(x, str) and x.strip().startswith('[') else [])

# Aplicamos la función a las columnas anidadas
df['genre_names'] = extract_names(df['genres'])
df['companies_names'] = extract_names(df['production_companies'])
df['countries_names'] = extract_names(df['production_countries'])
df['spoken_language_names'] = extract_names(df['spoken_languages'])

Procedemos a normalizar los datos en las columnas que contengan texto

In [6]:
# Función para normalizar el texto
def normalizar_texto(texto):
    if isinstance(texto, list):
        return [normalizar_texto(elem) for elem in texto]
    elif isinstance(texto, str):
        return unicodedata.normalize('NFC', texto).lower()
    return texto

# Aplicación de normalización a todas las columnas de texto
df = df.applymap(normalizar_texto)

C:\Users\Alberto\AppData\Local\Temp\ipykernel_5292\1415985429.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(normalizar_texto)

Tratamiento de datos faltantes

In [7]:
# Rellenamos valores faltantes en columnas numéricas y eliminamos filas sin fecha
df.fillna({'revenue': 0, 'budget': 0}, inplace=True)
df.dropna(subset=['release_date'], inplace=True)

Convertimos la columna 'release_date' a formato datetime y extraemos el año de lanzamiento

In [8]:
df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce')
df['release_year'] = df['release_date'].dt.year
df.dropna(subset=['release_date'], inplace=True)  #Eliminamos valores faltantes

Al tener la necesidad de ir recortando el dataset, tomo la decisión de filtrar por idioma y año de lanzamiento dejando peliculas desde el 2004 en adelante unicamente, ademas de tomar 2300 filas aleatoriamente.

In [9]:
idiomas_permitidos = {'english', 'español', 'portugues'}
df = df[(df['release_year'] >= 2004) &
        (df['spoken_language_names'].apply(lambda x: bool(set(x) & idiomas_permitidos)))]


df = df.sample(n=2300, random_state=42).reset_index(drop=True)  #Reducimos el tamaño del dataset y aseguramos que cada ejecución produzca los mismos resultados gracias al parámetro random_state=42.

Creamos la columna 'return' y ajustamos los tipos de datos a numéricos

In [10]:
df['revenue'] = pd.to_numeric(df['revenue'], errors='coerce')
df['budget'] = pd.to_numeric(df['budget'], errors='coerce')
df['return'] = df.apply(lambda row: row['revenue'] / row['budget'] if row['budget'] > 0 else 0, axis=1)

Para finalizar, eliminamos columnas innecesarias y exportamos el archivo

In [11]:
columns_to_drop = ['video', 'imdb_id', 'adult', 'original_title', 'poster_path', 'homepage',
                   'original_language', 'runtime', 'production_companies', 'production_countries',
                   'tagline', 'genres', 'spoken_languages', 'status']
df.drop(columns=columns_to_drop, inplace=True)

# Exportamos el archivo limpio
df.to_csv("movies_ok.csv", index=False)